<!DOCTYPE html>
<head>
    <title>Flask App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>  
    <div class="container" style="width:100%; margin:100px">
        <div class="jumbotron" style="text-align: center">
            <h1 style="font-weight: bold"> Mission to Mars<br/></h1>
            <br/>
            <button onclick="window.location='scrape.html'" type="button" class="btn btn-primary" style="font-weight:bold">Scrape New Data</button>     
         </div>   
      </div>
</body>
</html>